* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
body {
  background: url("images/bg-desktop.png") top 40vh left 0vw, hsl(229, 57%, 11%);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.icons {
  background-color: hsl(228, 56%, 26%);
  width: 350px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  border-top-right-radius: 50px;
  margin-inline-end: 3em;
}
.sub-icon {
  background-color: hsl(229, 57%, 11%);
  padding: 10px;
  width: 37px;
  height: 37px;
  border-radius: 7px;
  margin-top: 20px;
  margin-inline: 0.5em;
}
.data-used {
  background-color: hsl(228, 56%, 26%);
  width: 350px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: rgb(255, 250, 253);
}
.used {
  font-weight: 400;
  opacity: 0.9;
}
.used span {
  font-weight: 700;
  font-size: 20px;
}
.data-left {
  background-color: rgb(255, 250, 253);
  max-width: 150px;
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  bottom: 12em;
  left: 20em;
  color: black;
  font-size: 10px;
}
.data-left::before {
  position: absolute;
  content: "";
  background: rgb(255, 250, 253);
  width: 15px;
  height: 10px;
  right: 0;
  bottom: 0;
  transform: skew(180deg, 30deg);
}
.data-left span {
  font-weight: 700;
  font-size: 30px;
}
.input {
  width: 300px;
  margin-top: 20px;
  overflow: hidden;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background: hsl(229, 57%, 11%);
}
.input::before {
  position: absolute;
  content: "";
  top: 62%;
  left: 38%;
  transform: translate(-50%);
  width: 230px;
  height: 16px;
  border-radius: 10px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.input::after {
  position: absolute;
  content: "";
  top: 62%;
  left: 70%;
  transform: translate(-50%);
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: rgb(255, 250, 253);
}
.gb {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}
@media (max-width: 500px) {
  body {
   background: url("images/bg-mobile.png") ,
    hsl(229, 57%, 11%);
    background-size: cover;
    background-repeat: no-repeat;
  }
  main {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .icons {
    margin-block-end: 3em;
    margin-inline-end: 0;
  }
  .data-left {
    bottom: -4em;
    left: 12em;
  }
  .data-left::before {
    display: none;
  }
}
